// Brand/project name

.navbar-brand {
  font-family: @font-family-serif;
  font-size: @font-size-brand;
  color: @navbar-default-brand-color;
  &:hover,
  &:focus {
    color: @navbar-default-brand-color;
  }
}