<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <!--Needs to have url rewire rules so that all dynamic pages reoute to index.html-->
    <rewrite>
      <rules>
        <rule name="IgnoreScripts" stopProcessing="true">
          <match url="scripts/*" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="IgnoreStyles" stopProcessing="true">
          <match url="styles/*" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="IgnoreViews" stopProcessing="true">
          <match url="views/*" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="IgnoreIndex" stopProcessing="true">
          <match url="index.html" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="IgnoreRoot" stopProcessing="true">
          <match url="/" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="IndexOnly">
          <match url="(.*)" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
